html {
  font-size: 14px;
}
body{
    transform-box: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }


}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

image{
    width: 100%;
}

/* 
    Containers
*/

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-sm{
    width: 30%;
}

.col-full{
    width: 50%;
}

.col-lg{
    width: 75%
}

.col-full{
width: 100%;

}

.flex-start{
    align-items: flex-start;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}


/* 
    Details

*/

.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-title{
    font-size: 3rem;
    margin-bottom: 2em;
}

.detail-image {
    width: 100%;
    border-radius: 10%;
    max-height: 5000px;
    max-width: 400px;
    margin-bottom: 2em;
}

.detail-container .detail-info {
    font-weight: lighter;
}

.detail-container label{
    margin-right: .25em;
}

.detail-container label,
.detail-container .detail-info {
    font-size: 2rem;
}

.detail-additional-header{
    margin-top: 2em;
    font-size: 2.5rem;
}